

.side-width {
    width: 300px;
}

.tab-btn-bg {
    .nav-link {
        background-color: $white;
    }
}

.user-img-lg {
    width: 120px;
    height: 120px;
}

.custom-modal-width {
    max-width: 480px;
}